.character {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.physical-data {
  margin-top: 30px;
  font-size: 2em;
  list-style: none;
  color: #01df38;
  font-weight: 900;
}

.star-ships {
  display: flex;
  border: 1px solid red;
  flex-direction: unset;
  width: 100%;
  height: 100px;
  flex-wrap: wrap;
}
.star-ships div {
  color: #01df3a;
}
